:host ::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .p-tag {
    min-width: 6rem;
    text-align: center;
  }
}
