<!-- <w-page-header
  title="IPAS Central System"
  [disableUppercase]="true"
></w-page-header> -->

<!-- <app-main-layout>
  <theme-switcher></theme-switcher>
  <app-date-picker></app-date-picker>
  <div class="content-demo">
    <h1>Welcome to WIPO</h1>
    <p-inputText placeholder="Enter your name"></p-inputText>
    <p class="lead">
      {{ "COMMON.WELCOME_MESSAGE" | translate }}
    </p>
    <p-inputnumber [(ngModel)]="value1" [locale]="currentLocale" />

    <app-user-stats
      [totalUsers]="1600"
      [activeUsers]="1200"
      [inactiveUsers]="400"
      [unconfirmedUsers]="250"
      [totalUsersPercentChange]="16"
      [activeUsersPercentChange]="10"
      [inactiveUsersPercentChange]="-5"
      [unconfirmedUsersPercentChange]="20"
      [totalUsersPeriod]="'last month'"
      [activeUsersPeriod]="'last week'"
      [inactiveUsersPeriod]="'last month'"
      [unconfirmedUsersPeriod]="'last week'"
    ></app-user-stats>
  </div>

  <app-user-container></app-user-container>
  <app-table
    [columns]="columns"
    [data]="users"
    [loading]="loading"
    (actionClick)="onActionClick($event)"
  ></app-table>
</app-main-layout> -->
fdghfgdhdgfh
<router-outlet />
